@import "./variables.scss";

.recent-list {
	margin: 0 auto;
	border-spacing: 0;
	font-size: 1em;
}

th,
td {
	margin: 0;
	border-bottom: 2px solid black;
	padding: 1em;
}

.list-row {
	background-color: #2a9d8f;
	transition: background-color 0.2s;
}

.list-row:hover {
	cursor: pointer;
	background-color: $hover-color;
}
