@import "./variables.scss";

.recent-list {
	margin: 1 auto;
	border: 1px solid gray;
}

th,
td {
	border-bottom: 1px solid gray;
	padding: 1em 1.5em;
}

.list-row {
	transition: background-color 0.2s;
}

.list-row:hover {
	cursor: pointer;
	background-color: lightgray;
}
