@import "./variables.scss";

.recent-list {
    margin: 1 auto;
    border: 1px solid gray;
}

th,
td {
    &:nth-of-type(3) {
        width: 20%;
    }

    border-bottom: 1px solid gray;
    padding: 1em 1.5em;
}

.list-row {
    transition: background-color 0.2s;
}

.list-row:hover {
    cursor: pointer;
    background-color: lightgray;
}

.row-control {
    display: flex;
    justify-content: end;

    @include icon-button;
}
    